<div class="container">
  <h4 class="page-popups__title">«Внешне-экономическая деятельность»</h4>
  <p class="page-popups__subtitle">
    «Внешне-экономическая деятельность» - тестовое задание на позицию «Верстальщик email-рассылок».
  </p>
  <div class="block-item row">
    <div class="block-item__img">
      <img width="366" height="351" src="img/work8.png" alt="Превью проекта" />
    </div>
    <div class="block-item__info">
      <ul class="info-features">
        <li class="info-features__item">HTML</li>
        <li class="info-features__item">Hybrid layout</li>
        <li class="info-features__item">Inline Styles</li>
        <li class="info-features__item">HTML Compressor</li>
      </ul>
      <p class="block-item__desc">
        Верстка макета корректно отображается в следующих версиях браузеров:
        <br> — Safari 6.1 (&ge; Mac OS 10.8);
        <br> — Google Chrome 21 (&ge; Mac OS 10.8; &ge; Windows XP);
        <br> — Браузеры мобильных устройств &ge; iOS 7;
        <br> — Браузеры мобильных устройств &ge; Android 5;
        <br> — Браузеры и почтовые клиенты с «темной темой»
      </p>
      <p class="block-item__desc">Все изображения пережаты с помощью сервиса TinyPNG</p>
      <a href="https://banklerk.github.io/ved_project/" class="block-item__link">Письмо на github pages</a>
      <a href="https://github.com/banklerk/ved_project" class="block-item__link">Github Репозиторий</a>
    </div>
  </div>
</div>