<div class="container">
  <h4 class="page-popups__title">«BUKEE: The Book»</h4>
  <p class="page-popups__subtitle">«BUKEE: The Book» - учебный проект на курсе «Продвинутый курс для верстальщиков».</p>
  <div class="block-item row">
    <div class="block-item__img">
      <img width="366" height="351" src="img/work2.png" alt="Превью проекта">
    </div>
    <div class="block-item__info">
      <ul class="info-features">
        <li class="info-features__item">HTML5</li>
        <li class="info-features__item">CSS3</li>
        <li class="info-features__item">Adaptive layout</li>
        <li class="info-features__item">БЭМ</li>
        <li class="info-features__item">Flexbox</li>
        <li class="info-features__item">Accessibility</li>
        <li class="info-features__item">Less</li>
        <li class="info-features__item">Gulp</li>
        <li class="info-features__item">SVG</li>
        <li class="info-features__item">Pixel Perfect</li>
      </ul>
      <p class="block-item__desc">Адаптивная сетка, верстка с использованием flexbox, доступность
        (все интерактивные элементы доступны с клавиатуры), кроссбраузерность (в т. ч. IE11). Выполнена оптимизация
        изображений, использован SVG-спрайт.
      </p>
      <a href="https://banklerk.github.io/bukee/" class="block-item__link">Сайт на github pages</a>
      <a href="https://github.com/banklerk/bukee" class="block-item__link">Github Репозиторий</a>
    </div>
  </div>
</div>