<div class="container">
  <h4 class="page-popups__title">«Taskdone.fun»</h4>
  <p class="page-popups__subtitle">
    «Taskdone.fun» - учебный проект на курсе «Самый понятный курс по PHP для
    начинающих».
  </p>
  <div class="block-item row">
    <div class="block-item__img">
      <img width="366" height="351" src="img/work7.png" alt="Превью проекта" />
    </div>
    <div class="block-item__info">
      <ul class="info-features">
        <li class="info-features__item">HTML5</li>
        <li class="info-features__item">CSS3</li>
        <li class="info-features__item">Adaptive layout</li>
        <li class="info-features__item">ООП</li>
        <li class="info-features__item">MySQL</li>
        <li class="info-features__item">MVC</li>
        <li class="info-features__item">Composer</li>
      </ul>
      <p class="block-item__title">Используемые библиотеки:</p>
      <div class="block-desc">
        <ul class="block-plugins">
          <li><p class="block-plugins__item">nikic/fast-route – быстрый роутинг</p></li>
          <li><p class="block-plugins__item">league/plates – шаблонизатор</p></li>
          <li><p class="block-plugins__item">aura/sqlquery – генератор запросов SQL</p></li>
          <li><p class="block-plugins__item">intervention/image – плагин для работы с изображениям</p></li>
          <li><p class="block-plugins__item">delight-im/auth – регистрация/аутентификации пользователей</p></li>
          <li><p class="block-plugins__item">swiftmailer/swiftmailer – клиент для отправки электронных писем</p></li>
          <li><p class="block-plugins__item">php-di/php-di – сервис контейнер для внедрения зависимостей</p></li>
          <li><p class="block-plugins__item">respect/validation – удобный инструмент валидации данных</p></li>
          <li><p class="block-plugins__item">tamtamchik/simple-flash – плагин для вывода флеш-уведомлений</p></li>
          <li><p class="block-plugins__item">jasongrimes/paginator – вывод записей из базы данных постранично</p></li>
        </ul>
        <a href="http://taskdone.fun" class="block-item__link">Демо сайта</a>
        <a href="https://github.com/banklerk/taskdone" class="block-item__link">Github Репозиторий</a>
      </div>
    </div>
  </div>
</div>